<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header">
</head>
<body>
<header th:replace="fragments/body-header.html :: body-header (${user.id}, ${user.name}, ${user.userImageUrl})"></header>

<section id="section" class="section-with-bg wow fadeInUp">
    <section id="contact">

        <div class="container">

            <div class="section-header">
                <br>
                <h2>시설 등록 페이지</h2>
            </div>
            <br>
            <div id="createForms">
                <div class="createForm">
                    <form th:object="${gym}" method="post">
                        <table class="table">
                            <tr>
                                <td>시설명</td>
                                <td>
                                    <input class="input-group" type="text" th:field="*{name}" th:value="*{getName()}"
                                           placeholder="시설명을 입력하세요">
                                </td>
                            </tr>
                            <tr>
                                <td>주소</td>
                                <td>
                                    <input class="input-group" type="text" th:field="*{address}" th:value="*{getAddress()}"
                                           placeholder="주소를 입력하세요">
                                </td>
                            </tr>
                            <tr>
                                <td>소개</td>
                                <td>
                                    <input class="input-group" type="text" th:field="*{content}" th:value="*{getContent()}"
                                           placeholder="시설을 소개하세요">
                                </td>
                            </tr>
                            <tr>
                                <td>전화 번호</td>
                                <td>
                                    <input class="input-group" type="text" th:field="*{businessNumber}" th:value="*{getBusinessNumber()}"
                                           placeholder="000-000-000">
                                </td>
                            </tr>
                        </table>
                        <button type="submit" class="btnGym">등록</button>
                    </form>


                </div>
            </div>
        </div>
    </section>
</section>

<footer th:replace="fragments/body-footer.html :: body-footer"></footer>
</body>
</html>