<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
<body>
<header th:replace="fragments/body-header.html :: body-header (${user.id}, ${user.name}, ${user.userImageUrl})"></header>

<section id="section" class="section-with-bg wow fadeIn">
    <div class="gym-detail-wrap">
        <div class="section-header">
            <h2 th:text="${gym.name}"></h2>
        </div>

        <div class="gym-detail-content">

            <div class="gym-detail-info">
                <div>
                    <p>주소 : <span id="gym-address" th:text="${gym.address}"></span></p>
                    <p>사업자 등록 번호 : <span th:text="${gym.businessNumber}"></span></p>
                    <p>소개 : <span th:text="${gym.content}"></span></p>
                </div>
                <div id="gym-detail-map">
                </div>
            </div>

            <div class="gym-detail-product-info">
                <h4><a name="product-info">회원권</a></h4>
                <table class="gym-detail-table">
                    <tr>
                        <th>상품명</th>
                        <th>설명</th>
                        <th>가격</th>
                        <th>기간</th>
                        <th>type</th>
                        <th></th>
                    </tr>
                    <tr th:each="normalProduct : ${normalProducts}">
                        <td th:text="${normalProduct.name}"></td>
                        <td th:text="${normalProduct.content}"></td>
                        <td th:text="${normalProduct.price}"></td>
                        <td th:text="${normalProduct.period}"></td>
                        <td th:text="${normalProduct.productType}"></td>
                        <td>
                            <a th:href="@{/purchase/{productId}(productId=${normalProduct.id})}"
                               class="btn btn-warning">구매하기
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="gym-product-info">
                <h4><a name="product-info">PT</a></h4>
                <table class="gym-detail-table">
                    <tr>
                        <th>상품명</th>
                        <th>설명</th>
                        <th>가격</th>
                        <th>횟수</th>
                        <th>type</th>
                        <th></th>
                    </tr>
                    <tr th:each="ptProduct : ${ptProducts}">
                        <td th:text="${ptProduct.name}"></td>
                        <td th:text="${ptProduct.content}"></td>
                        <td th:text="${ptProduct.price}"></td>
                        <td th:text="${ptProduct.count}"></td>
                        <td th:text="${ptProduct.productType}"></td>
                        <td>
                            <a th:href="@{/purchase/trainer/product(id=${ptProduct.id})}"
                               class="btn btn-warning">구매하기
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="gym-product-info">
                <h4><a name="product-info">트레이너</a></h4>
                <table class="trainer-my-page-table">
                    <tr>
                        <th>이름</th>
                        <th>경력</th>
                    </tr>
                    <tr th:each="trainer : ${trainers}">
                        <td th:text="${trainer.name}"></td>
                        <td th:text="${trainer.career}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</section>

<footer th:replace="fragments/body-footer.html :: body-footer"></footer>
</body>
<script>

    onload = function() {

        const mapContainer = document.getElementById('gym-detail-map'); // 지도를 표시할 div
        const mapOption = {
            center: new kakao.maps.LatLng(37.4871000, 126.8266974), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

        // 지도 생성
        const map = new kakao.maps.Map(mapContainer, mapOption);
        const address = document.getElementById('gym-address').innerText;
        const geocoder = new kakao.maps.services.Geocoder();

        // 주소로 좌표를 검색
        geocoder.addressSearch(address, function(result, status) {

            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {
                const coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                // 결과값으로 받은 위치를 마커로 표시합니다
                const imageSrc = "/static/img/marker.png";
                const imageSize = new kakao.maps.Size(48, 48); // 마커 이미지 크기
                const imageOption = {offset: new kakao.maps.Point(27, 48)};
                const markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);
                const marker = new kakao.maps.Marker({
                    position: coords,
                    image: markerImage
                });

                marker.setMap(map);
                map.setCenter(coords);
            }
        });
    }

</script>
</html>