<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: header"></head>
<body>
<header th:replace="/fragments/body-header.html :: body-header (${user.id}, ${user.name}, ${user.userImageUrl})"></header>
    <section id="schedule">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <br><br>
                <h2>GYM(시설) 마이페이지</h2>
                <p>개인정보</p>
            </div>

            <div class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item" style="background-color: #dcdcdc; margin: 2%;">
                            <a class="nav-link active" th:href="@{../{gymId}/update(gymId = ${gym.id})}"
                               style="color: black;">정보 수정</a>
                        </li>
                        <li class="nav-item" style="background-color: #dcdcdc; margin: 2%;">
                            <a class="nav-link active" href="../gym-mypage/check" style="color: black;">인원현황(총 가입된
                                인원)</a>
                        </li>
                        <li class="nav-item" style="background-color: #dcdcdc; margin: 2%;">
                            <a class="nav-link active" href="../gym-mypage/new-product" style="color: black;">상품 등록</a>
                        </li>
                        <li class="nav-item" style="background-color: #dcdcdc; margin: 2%;">
                            <a class="nav-link active" href="#" style="color: black;">등록된 상품</a>
                        </li>
                    </ul>
                </div>
            </div>


            <h3 class="sub-heading">님의 개인정보 내역입니다.</h3>

            <div class="tab-content row justify-content-center">

                <!-- Schdule Day 1 -->
                <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
                    <a href="#">
                        <div class="row schedule-item">
                            <div class="col-md-2">
                                <time></time>
                            </div>
                            <div class="col-md-10">
                            </div>
                        </div>
                    </a>


                </div>
            </div>

        </div>
    </section>
</section>

<footer th:replace="/fragments/body-footer.html :: body-footer"></footer>
</body>
</html>