spring:
  profiles:
    active: dev

    group:
      dev:
        - dev
        - dev-oauth

      prod:
        - prod
        - prod-oauth
---
server:
  port: 8080

spring:
  console:
    enabled: true

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
#        show_sql: true

  thymeleaf:
    check-template-location: true
    cache: false

  mvc:
    static-path-pattern: "/static/**"
  config:
    activate:
      on-profile: dev

logging.level:
  org.hibernate.SQL: debug

---
server:
  port: 80
  
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://testdb:3306/healthner?useSSL=false&characterEncoding=UTF-8&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true&autoReconnect=true
    username: healthner
    password: admin123
    sql-script-encoding: UTF-8
    initialization-mode: always

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: create
    properties:
     hibernate:
       format_sql: false

  thymeleaf:
    check-template-location: true
    cache: false

  mvc:
    static-path-pattern: "/static/**"
  config:
    activate:
      on-profile: prod

logging.level:
  org.hibernate.SQL: debug