spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/healthner
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  thymeleaf:
    check-template-location: true
    cache: false

  mvc:
    static-path-pattern: "/static/**"

logging.level:
  org.hibernate.SQL: debug