<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
<body>
    <header th:replace="fragments/body-header.html :: body-header (${user.id}, ${user.name}, ${user.userImageUrl})"></header>

    <section id="section" class="section-with-bg">
        <div class="trainer-my-page-wrap">
            <div class="trainer-my-page-section">
                <div class="trainer-my-page-sidebar">
                    <div class="trainer-my-page-sidebar-content">
                        <a href="#" class="btn btn-warning side-button">위로</a>
                        <a href="/trainer/update" class="btn btn-warning side-button">정보 수정</a>
                        <a href="#reservation-info" class="btn btn-warning side-button">예약 정보</a>
                        <a href="#product-info" class="btn btn-warning side-button">상품 정보</a>
                        <a href="product/new" class="btn btn-warning side-button">상품 등록</a>
                    </div>
                </div>
                <div class="trainer-my-page-content">
                    <div class="trainer-user-info">
                        <h4>트레이너 유저 정보</h4>
                        <div th:text="|이름: ${user.name}|"></div>
                        <div th:text="|경력: ${trainer.career}|"></div>
                    </div>
                    <div class="trainer-gym-info" th:object="${gym}">
                        <h4>소속된 기관 정보</h4>
                        <div th:text="|기관 이름: *{name}|"></div>
                        <div th:text="|기관 주소: *{address}|"></div>
                        <div th:text="|기관 소개: *{content}|"></div>
                        <div th:text="|기관 번호: *{businessNumber}|"></div>
                    </div>
                    <div class="trainer-reservation-info">
                        <h4><a name="reservation-info">예약 정보</a></h4>

                        <div id='loading'>loading...</div>

                        <div id='calendar'></div>

                        <table class="trainer-my-page-table">
                            <tr>
                                <th>예약</th>
                                <th>날짜</th>
                                <th>시작 시간</th>
                                <th>끝나는 시간</th>
                                <th>수강생</th>
                                <th>트레이너</th>
                                <th>구매 상품</th>
                            </tr>
                            <tr th:each="reservation : ${reservations}">
                                <td th:text="${reservation.title}"></td>
                                <td th:text="${reservation.date}"></td>
                                <td th:text="${reservation.startTime}"></td>
                                <td th:text="${reservation.endTime}"></td>
                                <td th:text="${reservation.userId}"></td>
                                <td th:text="${reservation.trainerId}"></td>
                                <td th:text="${reservation.purchaseId}"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="trainer-product-info">
                        <h4><a name="product-info">등록된 상품 정보</a></h4>
                        <table class="table">
                            <thead class="table-warning">
                                <th>상품명</th>
                                <th>설명</th>
                                <th>가격</th>
                                <th>횟수</th>
                                <th>기간</th>
                                <th>type</th>
                                <th></th>
                                <th></th>
                            </thead>
                            <tr th:each="product : ${products}">
                                <td th:text="${product.name}"></td>
                                <td th:text="${product.content}"></td>
                                <td th:text="${product.price}"></td>
                                <td th:text="${product.count}"></td>
                                <td th:text="${product.period}"></td>
                                <td th:text="${product.productType}"></td>
                                <td>
                                    <a th:href="@{/trainer/product/{productId}/update(productId=${product.id})}" class="btn btn-warning">수정</a>
                                </td>
                                <td>
                                    <a th:href="@{/trainer/product/{productId}/delete(productId=${product.id})}" class="btn btn-warning">상태 변경</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="trainer-product-info">
                        <h4><a name="product-info">등록이 취소된 상품 정보</a></h4>
                        <table class="table">
                            <thead class="table-warning">
                                <th>상품명</th>
                                <th>설명</th>
                                <th>가격</th>
                                <th>횟수</th>
                                <th>기간</th>
                                <th>type</th>
                                <th></th>
                                <th></th>
                            </thead>
                            <tr th:each="product : ${deleteProducts}">
                                <td th:text="${product.name}"></td>
                                <td th:text="${product.content}"></td>
                                <td th:text="${product.price}"></td>
                                <td th:text="${product.count}"></td>
                                <td th:text="${product.period}"></td>
                                <td th:text="${product.productType}"></td>
                                <td>
                                    <a th:href="@{/trainer/product/{productId}/update(productId=${product.id})}" class="btn btn-warning">수정</a>
                                </td>
                                <td>
                                    <a th:href="@{/trainer/product/{productId}/delete(productId=${product.id})}" class="btn btn-warning">상태 변경</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="fragments/body-footer.html :: body-footer"></footer>
</body>
</html>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      displayEventTime: false,
      dayMaxEventRows: true,
      initialDate: '2021-06-01',
      headerToolbar: {
        left: 'prev,next today',
        center: 'title'
      },

      timeGrid: {
      dayMaxEventRows: 3
      },

      events: function(info, successCallback, failureCallback) {
        fetch('http://localhost:8080/api/reservation/trainer/calendar')
        .then(response => response.json())
        .then(response => successCallback(response));
      },

      loading: function(bool) {
        document.getElementById('loading').style.display =
          bool ? 'block' : 'none';
      }

    });
    calendar.getEvents();
    calendar.render();
  });


</script>
<style>

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
    }

    #script-warning {
        display: none;
        background: #eee;
        border-bottom: 1px solid #ddd;
        padding: 0 10px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        color: red;
    }

    #loading {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #calendar {
        max-width: 1100px;
        margin: 40px auto;
        padding: 0 10px;
    }

</style>