<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
<body>
<header th:replace="fragments/body-header.html :: body-header (${user.id}, ${user.name}, ${user.userImageUrl})"></header>

<section id="section" class="section-with-bg">
    <div class="user-my-page-wrap">
        <div class="user-my-page-section">
            <div class="user-my-page-sidebar">
                <div class="user-my-page-sidebar-content">
                    <a href="#" class="btn btn-warning side-button">위로</a>
                    <a href="/user/update" class="btn btn-warning side-button">정보 수정</a>
                    <a href="../gym/new" class="btn btn-warning side-button">시설 등록</a>
                    <a href="../trainer/new" class="btn btn-warning side-button">트레이너 등록</a>
                    <a href="../user/purchase" class="btn btn-warning side-button">예약하기</a>
                </div>
            </div>

            <div class="user-my-page-content">
                <div class="user-user-info">
                    <h4 th:text="${user.name}"></h4>
                </div>
                <div class="user-reservation-info">
                    <h4><a name="reservation-info">예약 내역</a></h4>

                    <div id='loading'>loading...</div>

                    <div id='calendar'></div>
                </div>
                <div class="user-purchase-info">
                    <h4><a name="purchase-info">이용중인 상품</a></h4>
                    <table class="table">
                        <thead class="table-warning">
                        <th>TYPE</th>
                        <th>상품이름</th>
                        <th>gym 이름</th>
                        <th>트레이너 이름</th>
                        <th>가격</th>
                        <th>회차/기간</th>
                        <th>잔여 횟수</th>
                        </thead>
                        <tbody>
                        <tr th:each="pt : ${PT}">
                            <td th:text="${pt.productType}"></td>
                            <td th:text="${pt.productName}"></td>
                            <td th:text="${pt.gymName}"></td>
                            <td th:text="${pt.trainerName}"></td>
                            <td th:text="${pt.price}"></td>
                            <td th:text="${pt.count}"></td>
                            <td th:each="remain : ${remainList}" th:text="${remain.remainCount}"></td>
                        </tr>
                        <tr th:each="normal : ${Normal}">
                            <td th:text="${normal.productType}"></td>
                            <td th:text="${normal.productName}"></td>
                            <td th:text="${normal.gymName}"></td>
                            <td>-</td>
                            <td th:text="${normal.price}"><span>원</span></td>
                            <td th:text="${normal.periodToString}"></td>
                            <td>-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="user-purchase-info">
                    <h4><a name="purchase-info">유효기간이 만료된 상품</a></h4>
                    <table class="table">
                        <thead class="table-warning">
                        <th>TYPE</th>
                        <th>상품이름</th>
                        <th>gym 이름</th>
                        <th>가격</th>
                        <th>횟수/유효기간</th>
                        </thead>
                        <tbody>
                        <tr th:each="endPt : ${endPts}">
                            <td th:text="${endPt.productType}"></td>
                            <td th:text="${endPt.productName}"></td>
                            <td th:text="${endPt.gymName}"></td>
                            <td th:text="${endPt.price}"><span>원</span></td>
                            <td th:text="${endPt.count}"><span>회</span></td>
                        </tr>
                        <tr th:each="endNormal : ${endNormals}">
                            <td th:text="${endNormal.productType}"></td>
                            <td th:text="${endNormal.productName}"></td>
                            <td th:text="${endNormal.gymName}"></td>
                            <td th:text="${endNormal.price}"></td>
                            <td th:text="${endNormal.periodToString}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/body-footer.html :: body-footer"></footer>
</body>
</html>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      displayEventTime: false,
      dayMaxEventRows: true,
      initialDate: '2021-06-01',
      headerToolbar: {
        left: 'prev,next today',
        center: 'title'
      },
      locale: 'ko',
      timeGrid: {
      dayMaxEventRows: 3
      },

      eventClick:function changeEvent(event){
      if(confirm(event.event.title + "수업" + "\n" + "수정 시 확인 , 삭제 시 취소") == true){
            document.location.href = "/reservation/" + event.event.id + "/update";
        }else{
            document.location.href = "/reservation/" + event.event.id + "/delete";
            }
        },

      events: function(info, successCallback, failureCallback) {
        fetch('http://localhost:8080/api/reservation/user/calendar')
        .then(response => response.json())
        .then(response => successCallback(response));
      },

      loading: function(bool) {
        document.getElementById('loading').style.display =
          bool ? 'block' : 'none';
      }

    });
    calendar.getEvents();
    calendar.render();
  });



</script>
