<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <header id="header" class="header-fixed" th:fragment="body-header (id, name, userImageUrl)">
        <div class="container">

            <div class="row">
                <div class="col">
                    <div id="logo" class="pull-left">
                        <a href="/home" class="scrollto"><img src="/static/img/logo.png" alt="" title=""></a>
                    </div>
                </div>

                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="/home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="/gym/search">트레이닝 센터 찾기</a></li>
                        <li><a th:href="@{/user/{id}/purchase(id=${id != null ? id : 0})}">예약하기</a></li>
                    </ul>
                </nav><!-- #nav-menu-container -->

                <div class="col">
                    <div class="dropdown nav-menu" th:if="${id != null}">
                        <img th:src="@{${userImageUrl}}" class="rounded-circle" width="40px" height="40px"/>
                        <a th:text="${name} + '님이 로그인 중'" class="dropdown-toggle" href="#"
                           role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="../user-mypage"><p>마이페이지</p></a>
                            <a class="dropdown-item" href="/logout"><p>로그아웃</p></a>
                        </div>
                    </div>

                    <ul th:if="${id == null}" class="nav-menu">
                        <li class="login-btn"><a href="https://kauth.kakao.com/oauth/authorize?client_id=f59edafa1084c3f6d25a24aa88f9e0b7&redirect_uri=http://localhost:8080/login&response_type=code">로그인하러가기</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header><!-- #header -->

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>


</html>