<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <footer id="footer" th:fragment="body-footer">
        <div class="container">
            <div class="copyright">
                &copy;  <strong>Healthner</strong>.헬트너
            </div>
            <div class="credits">
                Developed by
                <a href="">이선하</a>
                <a href="">신정은</a>
                <a href="">최기현</a>
                <a href="">조건희</a>
            </div>
        </div>
        <div class="container footer-top">
            <div class="col-6 col-md-4" style="margin-left: 40%">
                <div class="social-links">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </footer>

</html>