<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <title>healthner</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Favicons -->
    <link href="/static/img/healthner-icon.jpg" rel="icon">
    <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/static/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/static/js/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/js/animate/animate.min.css" rel="stylesheet">
    <link href="/static/js/venobox/venobox.css" rel="stylesheet">
    <link href="/static/js/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/search.css" rel="stylesheet">
    <link href="/static/css/trainer.css" rel="stylesheet">
    <link href="/static/css/user.css" rel="stylesheet">
    <link href="/static/css/home.css" rel="stylesheet">

    <!-- JavaScript Libraries -->
    <script src="/static/js/jquery/jquery.min.js"></script>
    <script src="/static/js/jquery/jquery-migrate.min.js"></script>
    <script src="/static/js/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/easing/easing.min.js"></script>
    <script src="/static/js/superfish/hoverIntent.js"></script>
    <script src="/static/js/superfish/superfish.min.js"></script>
    <script src="/static/js/wow/wow.min.js"></script>
    <script src="/static/js/venobox/venobox.min.js"></script>
    <script src="/static/js/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="/static/js/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="/static/js/main.js"></script>

    <!--  kakao map  -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=dd72b09faad70f5da0fa86b2d1b9def5&libraries=services"></script>
</head>
</html>