/* gym detail */
.gym-detail-wrap {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 3% auto;
    padding: 1rem;
    background-color: #fefefe;
    border-radius: .25rem;
}

.gym-detail-info {
    display: flex;
    margin: 1rem 0;
}

.gym-detail-content > div {
    padding: 1rem;
    border-bottom: 1px solid #FDF5E6;
}

.gym-detail-info > div {
    width: 50%;
}

.gym-detail-info > p {
    margin: 1rem 0;
}

#gym-detail-map {
    width: 50%;
    padding-bottom: 50%;
}

.gym-detail-table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

.gym-detail-table th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
}

.new-gym-form-wrap {
    width: 60%;
    margin: auto;
}

#new-gym-gym-list {
    list-style: none;
    padding: 0;
    transition: 0.5s;
}

#new-gym-gym-list li {
    padding: 1rem;
    border-bottom: 1px solid #d3d3d3;
    color: #000000;
    font-weight: bold;
    transition: 0.5s;
}

#new-gym-gym-list li:hover {
    color: #f8234a;
    outline: none;
    text-decoration: none;
}

/* gym-my-page */
.gym-my-page-wrap {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 3% auto;
    padding: 1rem;
    background-color: #FDF5E6;
    border-radius: .25rem;
}

.gym-my-page-header {
    text-align: center;
}

.gym-my-page-section {
    display: flex;
    flex-direction: row;
}

.gym-my-page-sidebar {
    width: 25%;
}

.gym-my-page-sidebar-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 15%;
}

.side-button {
    margin: 0.5rem;
}

.gym-my-page-content {
    margin: 1rem;
    width: 75%;
}

.gym-my-page-content > div {
    padding: 1rem;
    border-bottom: 1px solid #FDF5E6;
}

.new-gym-form-wrap {
     width: 60%;
     margin: auto;
 }

#new-gym-gym-list {
    list-style: none;
    padding: 0;
    transition: 0.5s;
}

#new-gym-gym-list li {
    padding: 1rem;
    border-bottom: 1px solid #d3d3d3;
    color: #000000;
    font-weight: bold;
    transition: 0.5s;
}

#new-gym-gym-list li:hover {
    color: #f8234a;
    outline: none;
    text-decoration: none;
}

.gym-my-page-table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

.gym-my-page-table th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
}

/* check */
.check-wrap {
    width: 70%;
    margin: 3% auto;
    padding: 1rem;
    background-color: #fefefe;
    border-radius: .25rem;
}

.check-section {
    display: flex;
    flex-direction: row;
}

.check-content {
    width: 30%;
}

.check-form {
    width: 70%;
    text-align: center;
}

.check-form > form > table {
    width: 100%;
    margin: 1rem 0;
}

.check-form > form > table td {
    border: 1px solid #CCCCCC;
    padding: 3rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.check-form > form > table td:hover {
    background: #FFC846;
}