.new-trainer-form-wrap {
    width: 60%;
    margin: auto;
}

#new-trainer-gym-list {
    list-style: none;
    padding: 0;
    transition: 0.5s;
}

#new-trainer-gym-list li {
    padding: 1rem;
    border-bottom: 1px solid #d3d3d3;
    color: #000000;
    font-weight: bold;
    transition: 0.5s;
}

#new-trainer-gym-list li:hover {
    color: #f8234a;
    outline: none;
    text-decoration: none;
}

/* trainer-my-page */
.trainer-my-page-wrap {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 3% auto;
    padding: 1rem;
    background-color: #fefefe;
    border-radius: .25rem;
}

.trainer-my-page-header {
    text-align: center;
}

.trainer-my-page-section {
    display: flex;
    flex-direction: row;
}

.trainer-my-page-sidebar {
    width: 25%;
}

.trainer-my-page-sidebar-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 15%;
}

.side-button {
    margin: 0.5rem;
}

.trainer-my-page-content {
    margin: 1rem;
    width: 75%;
}

.trainer-my-page-content > div {
    padding: 1rem;
    border-bottom: 1px solid #FDF5E6;
}

.new-trainer-form-wrap {
    width: 60%;
    margin: auto;
}

#new-trainer-gym-list {
    list-style: none;
    padding: 0;
    transition: 0.5s;
}

#new-trainer-gym-list li {
    padding: 1rem;
    border-bottom: 1px solid #d3d3d3;
    color: #000000;
    font-weight: bold;
    transition: 0.5s;
}

#new-trainer-gym-list li:hover {
    color: #f8234a;
    outline: none;
    text-decoration: none;
}

.trainer-my-page-table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

.trainer-my-page-table th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
}

/* product-form */
