<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
<body>
<header th:replace="fragments/body-header.html :: body-header (${user.id}, ${user.name}, ${user.userImageUrl})"></header>

<section id="section" class="section-with-bg wow fadeInUp">
    <section id="contact">

        <div class="container">

            <div class="section-header">
                <br>
                <h2>시설 출석체크 페이지</h2>
                <p>출석체크 해주세요. 인원현황을 볼 수 있습니다</p>
            </div>
            <div>
                <input type="text" id="phone" value="123"/>
            </div>
            </form>
            <div class="form-group col-md-6" style="margin-left:25%">
                <div>
                    <input type="button" value="1" onclick="add(1)">
                    <button onclick="add(2)">2</button>
                    <button onclick="add(3)">3</button>
                </div>
                <div>
                    <button onclick="add(4)">4</button>
                    <button onclick="add(5)">5</button>
                    <button onclick="add(6)">6</button>
                </div>
                <div>
                    <button onclick="add(7)">7</button>
                    <button onclick="add(8)">8</button>
                    <button onclick="add(9)">9</button>
                </div>
                <div>
                    <button onclick="">삭제</button>
                    <button onclick="add(0)">0</button>
                    <button type="submit" onclick="">확인</button>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </section>
</section>

<footer th:replace="fragments/body-footer.html :: body-footer"></footer>
</body>
<script>
    function add(char) {
        console.log("phone.value")
        len phone = document.getElementById('phone').value;
        phone.value = phone.valueOf() + char;

    }
</script>
</html>