<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: header"></head>
<body>
    <header th:replace="/fragments/body-header.html :: body-header"></header>

    <section id="section">
        <section id="speakers-details" class="wow fadeIn">
            <div class="container">
                <div class="section-header">
                    <h2>시설상세페이지</h2>
                    <p>시설상세페이지</p>
                </div>

                <div>
                    <div style="padding-bottom: 72px;">
                        <div style="z-index: 500; transform: translateZ(0px);">
                            <div class="sc-1s2fvbv-2 bDEjCg" style="width: 100%; border: 1px solid rgb(220, 220, 220);">
                                <div class="bar" style="text-align: center; background: rgb(255, 255, 255); line-height: 70px; height: 70px; display: flex;">
                                    <a class="menuComp">이름</a>
                                    <a class="menuComp">주소</a>
                                    <a class="menuComp">businessnumber</a>
                                    <a class="menuComp">센터소개</a>
                                    <a class="menuComp">상품리스트</a>
                                    <a class="menuComp">트레이너리스트</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <img src="../static/img/speakers/1.jpg" alt="Speaker 1" class="img-fluid">
                    </div>

                    <div class="col-md-6">
                        <div class="details">
                            <h2>Brenden Legros</h2>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                            <p>Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio dolore dolore sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio voluptas et.</p>

                            <p>Aboriosam inventore dolorem inventore nam est esse. Aperiam voluptatem nisi molestias laborum ut. Porro dignissimos eum. Tempore dolores minus unde est voluptatum incidunt ut aperiam.</p>

                            <p>Et dolore blanditiis officiis non quod id possimus. Optio non commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum alias provident omnis incidunt aut. Eius et officia corrupti omnis error vel quia omnis velit. In qui debitis autem aperiam voluptates unde sunt et facilis.</p>
                        </div>
                    </div>

                </div>
            </div>

        </section>
    </section>

    <footer th:replace="/fragments/body-footer.html :: body-footer"></footer>
</body>
</html>