<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
<body>
    <header th:replace="fragments/body-header.html :: body-header (${user.id}, ${user.name}, ${user.userImageUrl})"></header>

    <section id="section" class="section-with-bg">
        <div class="intro">
            <img class="home-main-img" src="/static/img/health1.jpg">
            <div class="intro-container wow fadeIn">
                <br><img class="intro-img" src="/static/img/healthner.png">
                <p class="home-p mb-4 pb-0">전국에 모든 헬스장이 내 손안에 있다.</p>
                <a href="/about" class="about-btn scrollto">Health(part)ner '헬트너' 이용</a>
            </div>
        </div>

        <div class="home-search">
            <form onsubmit="searchGyms(); return false">
                <div class="input-group input-group-lg">
                    <label for="keyword"></label>
                    <input type="text" id="keyword" class="form-control" placeholder="지역을 입력해주세요.">
                    <div class="input-group-append">
                        <button class="btn btn-warning" type="submit">찾기</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="home-info">
            <div class="home-info-container">
                <div class="home-info-item">
                    <img class="home-icon" src="/static/img/home/employees.png">
                    <div>
                        <p th:text="${userCount} + '명의 회원이 healthner를 사용 중입니다.'"></p>
                    </div>
                </div>
                <div class="home-info-item">
                    <img class="home-icon" src="/static/img/home/trainer.png">
                    <div>
                        <p th:text="${trainerCount} + '명의 트레이너가 등록되어 있습니다.'"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="fragments/body-footer.html :: body-footer"></footer>
</body>
<script>
    function searchGyms() {
        let keyword = document.getElementById('keyword').value;
        location.href = 'http://localhost:8080/gym/search?keyword=' + keyword;
    }
</script>
</html>