<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: header"></head>
<body>
    <header th:replace="/fragments/body-header.html :: body-header (${user.id}, ${user.name}, ${user.userImageUrl})"></header>

    <section id="section" class="section-with-bg">
        <div class=".col-6 .col-md-4" style="margin: 5% 30%">
            <div class="alert alert-light" role="alert">
                <h4 class="alert-heading" style="text-align: center">경고</h4>
                <p>로그인 후 시도해주세요 !!</p>
                <hr>
                <button type="button" class="btn btn-outline-warning" style="margin-left: 30%">
                    <a href="/home" data-direction="reverse">HOME으로 돌아가기</a>
                </button>
            </div>
        </div>
    </section>

    <footer th:replace="/fragments/body-footer.html :: body-footer"></footer>
</body>
</html>