<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
<body>
    <header th:replace="fragments/body-header.html :: body-header (${user.id}, ${user.name}, ${user.userImageUrl})"></header>

    <section id="section" class="section-with-bg">
        <div class="text-center card w-50">
            <div class="card-body">
                <div class="section-header">
                    <br>
                    <h2>경고</h2>
                </div>
                <div class="m-3">
                    <div>로그인 후 시도해주세요 !!</div>
                    <br>
                </div>
                <div class="m-3">
                    <a href="/home" class="btn btn-warning" data-direction="reverse">HOME으로 돌아가기</a>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="fragments/body-footer.html :: body-footer"></footer>
</body>
</html>