<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: header"></head>
<body>
    <header th:replace="/fragments/body-header.html :: body-header"></header>

    <section id="section">
        <section id="contact" class="section-bg wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <br>
                    <h2>시설 상품 등록 페이지 / 트레이너 상품 등록 페이지</h2>
                    <p>시설 상품 등록 페이지 	/gym-mypage/new-product
                        트레이너 상품 등록 페이지 	/trainner-mypage/new-product
                        아직 경로 안나누고 html만</p>
                </div>

                <div id = "createForms">
                    <div class="createForm">
                    </div>
                </div>
            </div>
        </section>
    </section>

    <footer th:replace="/fragments/body-footer.html :: body-footer"></footer>
</body>
</html>