<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: header">
</head>
<body>
    <header th:replace="/fragments/body-header.html :: body-header (userId, name, userImageUrl)"></header>

    <section id="section" class="section-with-bg wow fadeInUp">
        <section id="contact">

            <div class="container">

                <div class="section-header">
                    <br>
                    <h2>시설 등록 페이지</h2>
                    <form th:object="${gym}" method="post">
                        <table>
                            <tr>
                                <td>시설명</td>
                                <td>
                                    <input type="text" th:field="*{name}" th:value="*{getName()}" placeholder="시설명을 입력하세요">
                                </td>
                            </tr>
                            <tr>
                                <td>주소</td>
                                <td>
                                    <input type="text" th:field="*{address}" th:value="*{getAddress()}" placeholder="주소를 입력하세요">
                                </td>
                            </tr>
                            <tr>
                                <td>소개</td>
                                <td>
                                    <input type="text" th:field="*{content}" th:value="*{getContent()}" placeholder="시설명을 입력하세요">
                                </td>
                            </tr>
                            <tr>
                                <td>전화 번호</td>
                                <td>
                                    <input type="text" th:field="*{businessNumber}" th:value="*{getBusinessNumber()}" placeholder="000-000-000">
                                </td>
                            </tr>
                        </table>
                        <button th:if="${gym.getCeoId() == null}" type="submit" class="btn">등록</button>
                        <button th:unless="${gym.getCeoId() != null}" type="submit" class="btn">수정</button>
                    </form>
                </div>

                <div id = "createForms">
                    <div class="createForm">
                    </div>
                </div>
            </div>
        </section>
    </section>

    <footer th:replace="/fragments/body-footer.html :: body-footer"></footer>
</body>
</html>