<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">

<!--==========================
      Contact Section
    ============================-->
<th:block layout:fragment="content">
    <section id="contact" class="section-bg wow fadeInUp">

        <div class="container">
    
            <div class="section-header">
                <br>
                <h2>시설 상품 등록 페이지 / 트레이너 상품 등록 페이지</h2>
                <p>시설 상품 등록 페이지 	/gym-mypage/new-product
                  트레이너 상품 등록 페이지 	/trainner-mypage/new-product
                   아직 경로 안나누고 html만</p>
            </div>
    
            <div id = "createForms">
            <div class="createForm">
            </div></div>

    
        </div>
    </section><!-- #contact -->
</th:block>


</html>
