<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: header"></head>
<body>
    <header th:replace="/fragments/body-header.html :: body-header"></header>

    <section id="section">
        <table class="table table-striped" style="max-width: 50%; margin: 5rem auto;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>이메일</th>
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>수정</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.phoneNumber}"></td>
                    <td><a th:href="@{/users/{id}/edit(id=${user.id})}" class="btn btn-primary">수정</a></td>
                </tr>
            </tbody>
        </table>
        <a href="/users/new"
           class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div class="btn btn-primary" style="min-width: 50%; margin: 1rem auto">유저 추가하기</div>
        </a>
    </section>

    <footer th:replace="/fragments/body-footer.html :: body-footer"></footer>
</body>
</html>